name: Publish Crates to crates.io

on:
  workflow_dispatch:
    inputs:
      crate:
        description: 'Crate to publish'
        required: true
        type: choice
        options:
          - bebytes
          - bebytes_derive
          - all

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PA_TOKEN }}
          fetch-depth: 0

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install cargo-release
        run: cargo install cargo-release

      - name: Set Git User
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"

      - name: Publish bebytes_derive
        if: github.event.inputs.crate == 'bebytes_derive' || github.event.inputs.crate == 'all'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_API_KEY }}
        run: cargo release publish -v --execute --no-confirm
        working-directory: bebytes_derive

      - name: Publish bebytes
        if: github.event.inputs.crate == 'bebytes' || github.event.inputs.crate == 'all'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_API_KEY }}
        run: cargo release publish -v --execute --no-confirm
        working-directory: bebytes